<div class="row">
  <div class="card m-4" style="width: 16rem;">
    <img src="assets/img/graphique.jpg" class="card-img-top" alt="graphique 3D">
    <div class="card-body">
      <h5 class="card-title">Statistiques</h5>
      <p class="card-text">C'est pour voir si les ventes sont faramineuses</p>
      <a routerLink="**" class="btn btn-dark">Liens vers nul part</a>
    </div>
  </div>
  
  <div class="card m-4" style="width: 16rem;">
    <img src="assets/img/croissance.png" class="card-img-top" alt="graphique 3D">
    <div class="card-body">
      <h5 class="card-title">Statistiques</h5>
      <p class="card-text">C'est pour voir si les ventes sont faramineuses</p>
      <a routerLink="**" class="btn btn-dark">Liens vers nul part</a>
    </div>
  </div>
  
  <div class="card m-4" style="width: 16rem;">
    <img src="assets/img/main_image.png" class="card-img-top" alt="graphique 3D">
    <div class="card-body">
      <h5 class="card-title">Statistiques</h5>
      <p class="card-text">C'est pour voir si les ventes sont faramineuses</p>
      <a routerLink="**" class="btn btn-dark">Liens vers nul part</a>
    </div>
  </div>
  
  <div class="card m-4" style="width: 16rem;">
    <img src="assets/img/US_and_USSR_nuclear_stockpiles.png" class="card-img-top" alt="graphique 3D">
    <div class="card-body">
      <h5 class="card-title">Statistiques</h5>
      <p class="card-text">C'est pour voir si les ventes sont faramineuses</p>
      <a routerLink="**" class="btn btn-dark">Liens vers nul part</a>
    </div>
  </div>

</div>