<app-sidebar></app-sidebar>
<div class="jumbotron my-5 text-center shadow rounded">
    <h1 class="display-3 text-danger">{{ title }}</h1>
    <p class="lead">Il s'agit d'une simple unité de héros, un simple composant de style jumbotron pour attirer une attention particulière sur le contenu ou les informations en vedette.</p>
    <hr class="my-4">
    <p>Il utilise des classes utilitaires pour la typographie et l'espacement afin d'espacer le contenu dans le plus grand conteneur.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" routerLink="cars" role="button">eXotic Velocypèdes</a>
    </p>
</div> 
<app-card></app-card>
